* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --hoverColor: rgb(185, 63, 63);
}
#header {
  z-index: 10;
  width: 100%;
}

/* ================ */
/* NAVBAR */
/* ================ */

.navbar-nav {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
}
.navbar {
  z-index: 999;
}
.navbar-brand {
  font-weight: bolder;
  font-style: italic;
  font-size: 1.6rem;
}
.navbar-nav li {
  padding: 5px;
}
.main {
  position: relative;
  background: linear-gradient(
      rgba(241, 236, 236, 0.7),
      rgba(143, 135, 135, 0.2)
    ),
    url("/img/jean.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.fixed-nav {
  background: black;
  position: fixed;
  width: 100%;
}
.fixed-nav .navbar-brand {
  color: white;
}
.fixed-nav .navbar-nav .nav-link {
  color: rgb(124, 117, 117) !important;
}
.fixed-nav .navbar-nav .nav-link:hover {
  color: rgb(204, 196, 196) !important ;
}
.fixed-nav .navbar-nav .active {
  color: white !important;
}
@media (min-width: 992px) {
  #header {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main {
    background: rgb(247, 247, 247);
  }
  .navbar {
    background: rgb(20, 20, 20);
  }
  .navbar-toggler {
    background-color: rgb(160, 158, 158);
  }
  .navbar-brand {
    color: white !important;
  }
  .nav-link {
    color: rgb(124, 117, 117) !important ;
  }
  .nav-link:hover {
    color: rgb(204, 196, 196) !important ;
  }
  .navbar .navbar-nav .active {
    color: white !important;
  }
  .fixed-nav {
    display: none;
  }
}

/* ================ */
/* END OF NAVBAR */
/* ================ */

/* ================ */
/* CARD */
/* ================ */

.abraham-card {
  margin-top: 10%;
  width: 100%;
}
.card {
  border-radius: 20px;
  /* border: 4px solid rgb(185, 63, 63); */
  border: none;
}
.abraham-img img {
  padding: 50px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 1s ease-in-out;
}
.abraham-img img:hover {
  filter: grayscale(0);
}
@media (min-width: 992px) {
  .abraham-img img {
    width: 100%;
    border-radius: 20%;
  }
}
@media (max-width: 768px) {
  .card {
    border: none;
    margin: auto;
  }
  .abraham-img img {
    padding: 0px;
    border-radius: 50%;
  }
}
.card-body {
  padding: 20px 10px 20px 10px;
  margin: 50px;
}
.card-body h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
}
.card-body h1 {
  font-weight: 900;
  font-size: 2.7em;
  padding: 7px 0px 10px 3px;
  border-left: 5px solid var(--hoverColor);
}
.card-body h3 {
  font-weight: 700;
  margin-top: 30px;
  border-left: 5px solid var(--hoverColor);
  padding: 10px 0px 10px 3px;
  width: max-content;
}
.card-body p {
  padding-top: 30px;
  font-size: 1rem;
  line-height: 2.2rem;
}
.details {
  padding-top: 30px;
  font-size: 1rem;
}
.details div {
  padding: 0.9rem;
}
.details div span {
  color: rgb(140, 146, 151);
  font-weight: 500;
  transition: 0.4s ease-in-out;
}
.details div span:hover {
  color: var(--hoverColor);
}
.details div i {
  padding-right: 18px;
  color: var(--hoverColor);
  transition: 0.4s ease-in-out;
}
.details div i:hover {
  color: black;
}
.social-media {
  font-size: 1.7rem;
  margin-top: 50px;
}
.social-media a i {
  color: rgb(30, 30, 34);
  padding: 10px;
  transition: 0.4s ease-in-out;
}
.social-media a i:hover {
  color: var(--hoverColor);
}

/* ================ */
/* END OF CARD */
/* ================ */

/* ================ */
/* START OF ABOUT */
/* ================ */

#about-page {
  margin-top: 130px;
}
.section-1 #greyout {
  margin: 30px auto 0px auto;
  text-align: center;
  color: rgb(199, 202, 204);
  font-size: 2.5rem;
  font-weight: bolder;
  padding-left: 10px;
}
.section-1 #solid {
  margin: -30px auto 0px auto;
  text-align: center;
  font-weight: bolder;
  font-size: 1.7rem;
  padding-left: 10px;
}
.head-title {
  border-left: 5px solid var(--hoverColor);
  text-align: center;
  max-width: max-content;
  margin: 0 auto;
}
.container .about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-div .learn-btn {
  margin-bottom: 70px;
  margin-top: 80px;
  height: 40px;
  width: 180px;
  align-items: center;
  color: white;
  font-weight: 700;
  background-color: var(--hoverColor);
  border: white;
  box-shadow: 1px 6px 13px -4px rgba(0, 0, 0, 0.82);
}
.about-div .learn-btn:hover {
  background-color: white;
  color: var(--hoverColor);
  transition: 0.5s all ease-in-out;
  border: 1px solid var(--hoverColor);
}
.section-1 #about-me {
  margin: 100px;
  font-size: 1.3rem;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2rem;
  /* border: 1px solid red; */
}

.carousel {
  border: 1px solid rgb(155, 153, 153);
  box-shadow: 5px 6px 21px -6px rgba(0, 0, 0, 1);
}

.carousel .carousel-control-prev span,
.carousel-control-next span {
  background: white;
  width: 40px;
  border-radius: 70%;
}

.carousel .carousel-control-prev span i,
.carousel-control-next span i {
  font-size: 30px;
  color: var(--hoverColor);
  font-weight: 700;
  border-radius: 50%;
}

.carousel-item {
  width: 100%;
}
.carousel-item img {
  width: 100%;
  height: 500px;
}
.carousel-caption h5 {
  font-weight: 700;
  color: ivory;
}
.carousel-caption p {
  font-weight: 500;
}

@media (min-width: 1250px) {
  .carousel-item {
    width: 1300px;
  }
}
@media (max-width: 968px) {
  .carousel-item img {
    height: 400px;
  }
}

/* ================ */
/* END OF ABOUT */
/* ================ */

/* ================ */
/* START OF EXPERIENCE */
/* ================ */
#experience-page {
  margin-top: 100px;
}
.experience {
  position: relative;
  padding: 45px 0 15px 0;
}

.experience .timeline {
  position: relative;
  width: 100%;
}

.experience .timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background: var(--hoverColor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--hoverColor);
  border-radius: 16px;
  z-index: 1;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--hoverColor);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .experience .timeline::after {
    left: 8px;
  }

  .experience .timeline .timeline-item {
    width: 100%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left {
    padding-right: 0;
  }

  .experience .timeline .timeline-item.right {
    left: 0%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left::after,
  .experience .timeline .timeline-item.right::after {
    left: 0;
  }

  .experience .timeline .timeline-item.left::before,
  .experience .timeline .timeline-item.right::before {
    left: 18px;
    border-color: transparent #dddddd transparent transparent;
  }

  .experience .timeline .timeline-item.left .timeline-date,
  .experience .timeline .timeline-item.right .timeline-date {
    position: relative;
    top: 0;
    right: auto;
    left: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .experience .timeline .timeline-item.left .timeline-text,
  .experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
  }
}
#resume {
  margin-bottom: 60px;
}

/* ================ */
/* END OF EXPERIENCE */
/* ================ */

/* ================ */
/* START OF SKILLS */
/* ================ */
#skills-page {
  margin-top: 130px;
}
.skills-card {
  height: max-content;
  margin-top: 100px;
}

.skills-card .webskills {
  /* border: red 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(221, 219, 215);
  transition: 0.6s all ease-in-out;
  margin: auto;
}
.skills-card i {
  font-size: 5rem;
  padding: 30px;
  margin-left: 40px;
  transition: 0.7s all ease-in-out;
}
.skills-card .container {
  font-size: 1.5rem;
  font-weight: 600;
}
.skills-card .webskills:hover {
  color: var(--hoverColor);
}
.skills-card i:hover {
  font-size: 6rem;
}
@media (max-width: 992px) {
  .section-1 #about-me {
    margin: 60px 0 60px 0;
    font-size: 1.1rem;
  }
}
#resume {
  margin-bottom: 110px;
}

/* ================ */
/* END OF SKILLS */
/* ================ */

/* ================ */
/* START OF TOPLINK */
/* ================ */

.top-link {
  background-color: var(--hoverColor);
  right: 3rem;
  bottom: 3rem;
  position: fixed;
  width: 2rem;
  height: 2rem;
  animation: bounce 2s ease-in-out infinite;
  border-radius: 20%;
  visibility: hidden;
}
.top-link i {
  color: white;
  position: absolute;
  left: 0.4rem;
  bottom: 0.2rem;
  font-size: 1.5rem;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* ================ */
/* END OF TOPLINK */
/* ================ */

/* ================ */
/* START OF SERVICES */
/* ================ */

#offerings {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 600;
  text-transform: uppercase;
  margin-bottom: 90px;
  border-bottom: 3px solid var(--hoverColor);
  padding-bottom: 20px;
}
#services {
  margin-top: 130px;
}
.feature_area {
  background: #f9f9ff;
}
.feature_area.feature_tow {
  background: #fff;
}
.feature_area.feature_tow .feature_item {
  background: #f9f9ff;
}
.feature_area.feature_tow .feature_item:hover {
  background: #fff;
}
.feature_area.white_feature {
  background: #fff;
}
.feature_area.white_feature .feature_item {
  background: #f9f9ff;
}
.feature_area.white_feature .feature_item:hover {
  background: #fff;
}

.feature_inner {
  margin-bottom: -30px;
}

.feature_item {
  padding: 50px 35px;
  border-radius: 10px;
  transition: all 300ms linear 0s;
  background: #fff;
  border: #e7e6e6 2px solid;
  margin-bottom: 30px;
}
.feature_item i {
  margin-bottom: 35px;
  display: block;
}
.feature_item i:before {
  margin-left: 0px;
  font-size: 60px;
  color: var(--hoverColor);
  line-height: 60px;
}
.feature_item h4 {
  color: #222222;
  font-size: 21px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.feature_item p {
  margin-bottom: 0px;
}
.feature_item .main_btn {
  padding: 0px 30px;
  line-height: 38px;
}
.feature_item:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  border-color: #fff;
  background: #fff;
}
.feature_item:hover i:before {
  background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ================ */
/* END OF SERVICES */
/* ================ */

/* ================ */
/* START OF PORTFOLIO */
/* ================ */
.tools {
  margin-top: 30px;
  font-style: italic;
  text-shadow: 0px 0px 10px 10px black;
}
#portfolio {
  margin-top: 140px;
  margin-bottom: 90px;
}

.portfolios {
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--hoverColor);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none !important;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--hoverColor);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none !important;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 2.5rem;
  color: white;
  margin: 0 1rem;
  text-decoration: none !important;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: white;
  text-decoration: none !important;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--hoverColor);
  text-decoration: none !important;
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ================ */
/* END OF PORTFOLIO */
/* ================ */

/* ================ */
/* START OF CONTACT */
/* ================ */

#contact .container-fluid {
  background-color: black;
  height: fit-content;
}

#contact-page {
  margin-top: 140px;
  margin-bottom: 60px;
}

#contact address {
  padding-bottom: 18px;
}

#contact .contact-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #ffffff;
  margin-top: 30px;
}
form {
  margin-top: 30px;
}
#contact i {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: var(--hoverColor);
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
  transition: 0.4s all ease-in-out;
}
#contact i:hover {
  color: white;
  border: 2px solid var(--hoverColor);
}
#contact .form-control {
  background: transparent;
  border: 2px solid #999;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff;
  margin-bottom: 20px;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  background: var(--hoverColor);
  border: 2px solid transparent;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #ffffff;
  color: var(--hoverColor);
}

/* ================ */
/* END OF CONTACT */
/* ================ */

/* ================ */
/* START OF FOOTER */
/* ================ */

footer {
  border-top: 1px solid #090909;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background: black;
}
footer hr {
  width: 100px;
}
footer p a {
  text-decoration: none !important;
  color: var(--hoverColor);
}
footer p a:hover {
  color: var(--hoverColor);
}

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}
.social-icon li {
  display: inline-block;
  list-style: none;
}
.social-icon li a {
  border-radius: 50%;
  color: #606060;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin-right: 10px;
}
.social-icon li a:hover {
  color: var(--hoverColor);
}

/* ================ */
/* END OF FOOTER */
/* ================ */

/* ================ */
/* START OF ANIMATIONS */
/* ================ */

/* ================ */
/* END OF ANIMATIONS */
/* ================ */
